body {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;


    background-color: rgb(50, 52, 61);
    justify-content: center;
}
* {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}



/** Header section **/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 16px; */
    max-width: 1000px;
    min-width: 750px;
    width: 100%;
    align-self: center;
    padding: 0 24px;
    margin: 0 auto;

}
.header-logo {
    font-size: 24px;
    font-weight: 900;
    
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
ul {
    display: flex;
    list-style: none; 
    gap: 16px;
}
a {
    text-decoration: none;
}
.header-logo,
.hero-image,
a,
.hero-callout h1,
.hero-callout button {
    color: whitesmoke;
}


/** Hero Section **/
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    min-width: 750px;
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 0px 24px;
    gap: 16px;
    align-self: center;
    flex: 1;
}
.hero-image {
    height: 200px;
    width: 400px;
    background-color: grey;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.hero-section button {
    background-color: #3882F6;;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    width: 100px;
}
.hero-section p{
    color: rgb(164, 176, 189);
    margin: 0;
}
.hero-section h1 {
    font-size: 36px;
    margin: 0;

}
.hero-callout {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/** Info section **/
.info-section {
    background-color: white;
    padding: 36px;
}
.info-section h2{
    text-align: center;
    margin-top: 0;
    font-size: 30px;
}
.card-image {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}
.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 12px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p {
    width: 150px;
    text-align: center;
    color: grey;
    padding: 8px;
}

/** Quote section **/
.quote-section {
/**
    flex: 1;
    width: 100hv;
**/
    background-color: rgb(197, 197, 197);
    width: 100%;
    align-self: center;
    justify-content: center;
    display: flex;
    padding: 48px;
}
.quote {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding: 48px;
    align-self: center;
/*    
    align-items: center;
    justify-content: center;
*/    
}
.quote p{
    font-size: 28px;
    align-self: flex-start;
    padding-bottom: 16px;
    color:rgb(53, 53, 53);
    font-style: italic;

}
.quote h3 {
    margin: 0;
    align-self: flex-end;
    color:rgb(32, 30, 49)
}

/** CTA section **/
.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}
.cta-card {
    display: flex;
    justify-content: space-around;
    width: 800px;
    height: 100px;
    align-items: center;
    background-color:#3882F6;
    margin: 48px;
    border-radius: 8px;
    min-width: 600px;
}

.cta-card button {
    background-color: #3882F6;;
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px 24px;
    flex-grow: 0;
    height: 30px;
    color: white;
    align-self: center;

    display: flex;
    align-items: center;
}
.cta-text h3,p{
    margin: 0;
    padding: 0;
    color:antiquewhite;
}



/** Footer section **/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 52, 61);
    padding-top: 24px;
    padding-bottom: 12px;
    margin: 0;

    color:antiquewhite;
}