body {
    background-color: rgb(56, 60, 92);
}
* {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


/** Header section **/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* margin-bottom: 16px; */
    padding: 2px 24px;

}
.header-logo {
    font-size: 24px;
    font-weight: 900;
}
ul {
    display: flex;
    list-style: none; 
    gap: 16px;
}
a {
    text-decoration: none;
}
.header-logo,
.hero-image,
a,
.hero-callout h1,
.hero-callout button {
    color: whitesmoke;
}


/** Hero Section **/
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 48px;
    margin-bottom: 48px;
    padding: 0px 24px;
    gap: 16px;
}
.hero-image {
    height: 200px;
    width: 400px;
    background-color: grey;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.hero-section button {
    background-color: blue;
}
.hero-section p{
    color: rgb(164, 176, 189);
}
h1 {
    font-size: 36px;
}







